transformers>=4.20.0
diffusers>=0.9.0
invisible_watermark==0.1.5
basicsr==1.4.2
einops==0.6.0
omegaconf>=2.2.0
pytorch_lightning==1.5.9
kornia==0.6.8
gradio
opencv-python
pudb
imageio
imageio-ffmpeg
k-diffusion
webdataset
open-clip-torch
kornia
safetensors
timm
mmcv_full
mmcv==2.0.0rc3 -f https://download.openmmlab.com/mmcv/dist/cu116/torch1.12/index.html